html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  position: relative;
  height: 100%;
}

canvas {
  box-sizing: border-box;
  border: 1px solid #666;
}

.Item {
  position: absolute;
}

.Item:hover {
  opacity: 0.85;
  cursor: grab;
}

.Controls {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px;
}

.Controls,
.Controls button,
.Controls select,
.Controls input {
  font-size: 18px;
}

.Controls > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#audio {
  min-width: max-content;
}
